---
layout: ""
page_title: "Provider: Monit24"
description: |-
  The Monit24 provider provides resources to interact with monit24.pl API.
---

# Monit24 Provider

The Monit24 provider provides resources to interact with monit24.pl API.

## Example Usage

{{tffile "examples/main.tf"}}

{{ .SchemaMarkdown | trimspace }}
